<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/2956/2956800.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Image Uploader | آپلودر عکس</title>
</head>
<body style="background-color: #fff;">
    <div style="margin: 50px auto;width: 50%;" class="404-container"> 
        <img style="margin: 0 auto;width: 800px;height: 500px;overflow-y: hidden;" src="https://img.freepik.com/free-vector/500-internal-server-error-concept-illustration_114360-1936.jpg?w=740&t=st=1688825181~exp=1688825781~hmac=fd58c2b89c33e2f7a39ce67647577ffa0269d544dd68a806713049fd5d80bb04" alt="">
        <a href="/">برگشت به خانه</a>
    </div>
    <footer>
        <img src="https://maktabkhooneh.org/static/vue_statics/images/maktabkhooneh/logo_small.png" alt="">
        <small>دوره نود جی اس از مکتب خونه</small>
        <small> دانشجو: فاطمه رحمانی</small>
        <small> استاد: احسان گازار</small>
    </footer>
</body>
</html>